$dark-violet: #41106B;
$orange: #FF5762;


.navigation-bar {
  width: calc(99% - 2px);
  height: 87px;
  background-color: $dark-violet;
  border-radius: 25px 25px 0  0;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 1;

  .button-container {
    height: 100%;
    width: 183px;
    display: grid;

    .nav-button {
      background-color: transparent;
      border: none;
      height: 100%;
      width: 100%;
      font-size: 22px;
      grid-area: 1 / 1;

    }

    .active-border {
      height: 4px;
      background-color: $orange;
      box-shadow: 0 3px 10px $orange;
      grid-area: 1 / 1;
      display: none;
    }
  }

}




