.content-container {
  display: grid;
  left: 66px;
  grid-template-columns: repeat(7, 1fr);
  justify-items: start;
  row-gap: 41px;
  width: calc(100% - 66px * 2);
  column-gap: 41px;

  .points-tile {
    padding: 28px 20px;

    p:first-child {
      font-size: 23px;
      letter-spacing: 2px;
      text-align: center;
    }

    p:nth-child(2) {
      font-size: 32px;
      text-align: center;
      margin: 38px 0;
    }
  }
}
