.content-container {
  height: calc(100% - 243px - 87px);
  top: 202px;
  display: flex;
}

.form-container {
  margin-top: 0;
  opacity: 0;

  .form-tile {
    width: 80%;
    padding: 37px;
    height: auto;
  }

}

#subjects-list-container {
  text-align: center;
  font-size: 26px;

  p {
    white-space: nowrap;
  }

}

.all-inputs-container {
  display: flex;
  gap: 86px;
}

.input-container {

  div input {
    margin-top: 10px;
  }

  p {
    font-size: 24px;
  }
}

::placeholder {
  opacity: 0.5;
  font-size: 20px;
  letter-spacing: 2px;
}

.message-container {
  margin-top: 20px;
  font-size: 22px;
  letter-spacing: 4px;
}
